<article
  class="overflow-hidden rounded-lg shadow-sm border-white border-2 hover:border-2 hover:border-black transition delay-75 duration-75 ease-in-out hover:shadow-xl focus:outline-none focus:ring bg-[#F6F6F6]">
  {{ $image := .Resources.GetMatch .Params.image }}
  {{ $image = $image.Resize "450x250" }}
  <img src={{ $image.RelPermalink }} alt={data.title} height="250" width="450" class="w-full object-cover" />

  <div class="p-4 sm:p-6">
    <time datetime={{ .Date }} class="block text-xs text-gray-600">
      {{ .Date | time.Format ":date_medium" }}
    </time>

    <a href={{ .Permalink }}>
      <h3 class="mt-0.5 font-heading font-medium text-lg text-gray-900">
        {{ .Title }}
      </h3>
    </a>

    <p class="mt-2 line-clamp-3 font-text text-sm/relaxed text-gray-600">
      {{ .Description }}
    </p>
  </div>
</article>
