<div class="py-8 px-4 lg:w-1/3">
  <div class="h-full flex items-start">
    <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
      <span class="text-gray-800 pb-2 mb-2 border-b-2 border-gray-700">{{ .month }}</span>
      <span class="font-medium text-lg leading-none text-gray-600 title-font">{{ .day }}</span>
    </div>
    <div class="flex-grow pl-6">
      <span class="tracking-widest text-xs font-medium text-black mb-1">
        {{ .tech }}
      </span>
      <h3 class="font-heading font-bold text-neutral-900 mb-3">
        <a href="{{ .link }}" target="_blank" rel="nofollow">{{ .name }}</a>
      </h3>
      <p class="leading-relaxed mb-5">
        {{ .description }}
      </p>
      <span class="inline-flex items-center">
        <!-- Directly use the avatar URL without GetRemote -->
        <img alt="blog" src="{{ .avatar }}"
          class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center" />
        <span class="flex-grow flex flex-col pl-3">
          <span class="title-font font-medium text-gray-800">{{ .developer }}</span>
        </span>
      </span>
    </div>
  </div>
</div>
