<div class="overflow-hidden rounded-lg shadow-sm border-white transition hover:shadow-lg border-2 hover:border-2 hover:border-black transition delay-75 duration-75 ease-in-out hover:shadow-xl focus:outline-none focus:ring">
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-6n+e9+13-5g+au"
     data-ad-client="ca-pub-6691816550079346"
     data-ad-slot="9228499359"></ins>
<script type="text/javascript">
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>