---
// Click button, get confetti!
// Styled by Tailwind :)
const { className } = Astro.props;
---

<button
  class={`text-center text-black border bg-lightGray py-2 rounded-lg transition delay-50 duration-50 ease-in-out active:scale-75 ${className}`}
>
  <slot />
</button>
