{{ define "main" }}
<article class="text-gray-700 py-8">
  <section>
    <h1 class="font-heading font-bold sm:text-2xl text-xl mb-4 text-black my-8 leading-relaxed">
      {{ .Title }}
    </h1>
    {{ $image := .Resources.GetMatch .Params.image }}
    {{ if $image }}
    {{ $resizedImage := $image.Resize "640x340" }}
    {{ with $resizedImage }}
    <img src="{{ .RelPermalink }}" alt="{{ .Title }}" height="{{ .Height }}" width="{{ .Width }}"
      class="my-4 w-full rounded" />
    {{ end }}
    {{ end }}
    <p>GX Anshu | {{ .Date | time.Format ":date_medium" }}</p>
  </section>
  <section
    class="my-4 py-4 prose prose-headings:font-heading prose-headings:text-xl prose-stone prose-img:rounded prose-a:text-blue-600 prose-a:no-underline prose-p:leading-[200%] prose-headings:font-semibold">
    {{ .Content }}
  </section>
</article>
{{end}}