---
import Default from "layouts/Default.astro";
import PrimaryButton from "components/buttons/Primary.astro";
import Notification from "components/modals/Notification";
---

<Default
  title="Contact | Ai Anshu | codenanshu"
  description="Hello! I'm Anshu. I am a 17-year-old boy who is very intrested in computer science and entrepreneurship. I started learning web development"
>
  <section class="bg-white">
    <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2
        class="mb-4 text-4xl tracking-tight font-heading text-center text-gray-900"
      >
        Contact Us
      </h2>
      <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 sm:text-xl">
        Got a technical issue? Want to send feedback about a beta feature? Need
        details about our Business plan? Let us know.
      </p>
      <div class="space-y-8">
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Your email 📧</label
          >
          <input
            type="email"
            id="email"
            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="anshu@codenanshu.in"
            required
          />
        </div>
        <div>
          <label
            for="subject"
            class="block mb-2 text-sm font-medium text-gray-900">Subject 📑</label
          >
          <input
            type="text"
            id="subject"
            class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-blue-500 focus:border-blue-500"
            placeholder="Let us know how we can help you"
            required
          />
        </div>
        <div class="sm:col-span-2">
          <label
            for="message"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Your message  📡</label
          >
          <textarea
            id="message"
            rows="6"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Leave a comment..."></textarea>
        </div>
        <PrimaryButton id="submit" className="px-5">Send message</PrimaryButton>
      </div>
    </div>
    <Notification
      listner="submit"
      message="Thanks 😊, i will contact you soon 👋."
      client:only="preact"
    />
  </section>
</Default>

<script>
  function sendMessage() {
    const email = document.getElementById("email") as HTMLInputElement;
    const subject = document.getElementById("subject") as HTMLInputElement;
    const message = document.getElementById("message") as HTMLInputElement;

    const request = new XMLHttpRequest();
    request.open(
      "POST",
      import.meta.env.PUBLIC_DISCORD_WEBHOOK
    );
    // post on discord

    request.setRequestHeader("Content-type", "application/json");

    const params = {
      username: "site bot",
      avatar_url: "",
      content: `
    email: ${email.value}
    subject: ${subject.value}
    message: ${message.value}
    `,
    };

    request.send(JSON.stringify(params));

    email.value = subject.value = message.value = "";
  }

  document.getElementById("submit")!.addEventListener("click", sendMessage);
</script>
