---
/**
 * buttons in the end of a article
 * subscribe on substack
 * disscuss on twitter
 * issue on github
 */

import PrimaryButton from "./buttons/Primary.astro";
---

<!-- Action buttons for articles  -->
<div class="flex">
  <PrimaryButton className="px-2 text-sm">
    <a id="edit_link" href="#" target="_blank">Edit this page</a>
  </PrimaryButton>
  <PrimaryButton className="px-2 text-sm">
    <a id="twitter_link" href="#" target="_blank">Discuss on Twitter</a>
  </PrimaryButton>
  <PrimaryButton className="ml-4 px-2 text-sm">
    <a href="https://gxanshu.in/#newsletter">Subscribe Newsletter</a>
  </PrimaryButton>
</div>

<script is:inline>
  let twitterLinkElement = document.getElementById("twitter_link");
  twitterLinkElement.href = `https://mobile.twitter.com/search?q=${decodeURI(
    window.location
  )}`;
  let editLinkElement = document.getElementById('edit_link');
  editLinkElement.href = `/admin/#${location.pathname}`
</script>
