<div class="flex">
  <a id="twitter_link" href="#" target="_blank" class="bg-blue-500 p-2 rounded"
    >discuss on Twitter</a
  >
  <a
    href="https://github.com/aianshume/codenanshu/issues"
    target="_blank"
    class="ml-4 bg-black p-2 rounded">Suggest Changes</a
  >
</div>

<script is:inline>
  let link = document.getElementById("twitter_link");
  link.href = `https://mobile.twitter.com/search?q=${decodeURI(
    window.location
  )}`;
</script>
