<div class="flex">
<a id="twitter_link" href="#" target="_blank" class="bg-blue-500 p-2 rounded">discuss on Twitter</a>
<a href="https://github.com/aianshume/codenanshu/issues" target="_blank" class="ml-4 bg-black p-2 rounded">Suggest Changes</a>
</div>

<script>
    let url = window.location.href
    document.getElementById("twitter_link").href = `https://mobile.twitter.com/search?q=${url}`;
</script>