---
/**
* content append in the end of blogs & notes
*/

import SecondaryButton from "./buttons/Secondary.astro";
---

<!-- Action buttons for articles  -->
<div class="flex flex-col sm:flex-row gap-4 w-full">
  <SecondaryButton className="px-2 text-sm w-full">
    <a id="edit_link" href="#" target="_blank">Edit this page 🖊️</a>
  </SecondaryButton>
  <SecondaryButton className="px-2 text-sm w-full">
    <a href="https://gxanshu.in/#newsletter">Subscribe Newsletter 📭</a>
  </SecondaryButton>
</div>

<div class="giscus mt-12"></div>

<script is:inline>
  let editLinkElement = document.getElementById('edit_link');
  editLinkElement.href = `/admin/#/edit${location.pathname}`
</script>

<script is:inline>
      function downloadGiscusAtOnload() {
          var element = document.createElement("script");
          element.src = "https://giscus.app/client.js";
          element.setAttribute("data-repo", "gxanshu/gxanshu-site");
          element.setAttribute("data-repo-id", "R_kgDOHBgQ6Q");
          element.setAttribute("data-category", "Q&A");
          element.setAttribute("data-category-id", "DIC_kwDOHBgQ6c4COKjd");
          element.setAttribute("data-mapping", "title");
          element.setAttribute("data-strict", "0");
          element.setAttribute("data-reactions-enabled", "1");
          element.setAttribute("data-emit-metadata", "0");
          element.setAttribute("data-input-position", "bottom");
          element.setAttribute("data-theme", "light_protanopia");
          element.setAttribute("data-lang", "en");
          element.setAttribute("data-loading", "lazy");
          element.setAttribute("crossorigin", "anonymous");
          element.async = true;

          document.body.appendChild(element);
      }

      ["click", "scroll", "mousemove", "touchstart"].forEach(function (e) {
          window.addEventListener(e, firstInteraction, {
              once: true,
          });
      });

      var userInteracted = false;

      function firstInteraction() {
        console.log('first instaraction')
          if (!userInteracted) {
              userInteracted = true;
              downloadGiscusAtOnload();
          }
      }
    </script>