---
import PrimaryButton from "./buttons/Primary.astro";
---

<div class="flex">
  <PrimaryButton className="bg-blue-500 px-2">
    <a id="twitter_link" href="#" target="_blank">discuss on Twitter</a>
  </PrimaryButton>
  <PrimaryButton className="ml-4 px-2">
    <a href="https://github.com/aianshume/codenanshu/issues" target="_blank"
      >Suggest Changes</a
    >
  </PrimaryButton>
</div>

<script is:inline>
  let link = document.getElementById("twitter_link");
  link.href = `https://mobile.twitter.com/search?q=${decodeURI(
    window.location
  )}`;
</script>
