---
/**
 * buttons in the end of a article
 * subscribe on substack
 * disscuss on twitter
 * issue on github
 */

import PrimaryButton from "./buttons/Primary.astro";
---

<!-- Action buttons for articles  -->
<div class="flex">
  <PrimaryButton className="px-2 text-sm">
    <a id="twitter_link" href="#" target="_blank">Discuss on Twitter</a>
  </PrimaryButton>
  <PrimaryButton className="ml-4 px-2 text-sm">
    <a href="https://codenanshu.in/#newsletter">Subscribe Newsletter</a>
  </PrimaryButton>
  <PrimaryButton className="ml-4 px-2 text-sm">
    <a
      href={`https://pr.new/github.com/gxanshu/codenanshu/edit/dev/src/content/${Astro.url.pathname.slice(
        0,
        -1
      )}.mdx?initialPath=${Astro.url.pathname}`}
      target="_blank">Suggest Changes</a
    >
  </PrimaryButton>
</div>

<script is:inline>
  let twitterLinkElement = document.getElementById("twitter_link");
  twitterLinkElement.href = `https://mobile.twitter.com/search?q=${decodeURI(
    window.location
  )}`;
</script>
