---
/**
 * gird layout of all the contributions projects in about page
 */
import Dev from "components/cards/Dev.astro";
const allContributionFromGithub = await fetch('https://api.github.com/graphql', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
    'Authorization': `Bearer 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`
  },
  body: JSON.stringify({
    query: `
        query MyQuery {
  user(login: "gxanshu") {
    starredRepositories(first: 50, orderBy: {field: STARRED_AT, direction: ASC}) {
      totalCount
      nodes {
        name
        owner {
          avatarUrl(size: 32)
        }
      }
    } 
  }
}
      `
  }),
}).then((res) => res.json())
  .then((result) => {return result.data.user.starredRepositories.nodes});

console.log(allContributionFromGithub)
---
<div class="flex flex-wrap gap-2">
    {
      allContributionFromGithub.map((repo) => {
        return (
          <Dev className="flex gap-6 py-1 hover:scale-102 my-1"><img 
              src={repo.owner.avatarUrl}
              width="28px"
              style="border-radius: 5px;"
            />
            <p><b>{repo.name}</b></p>
          </Dev>
        );
      })
    }
</div>