{{ define "main" }}
<section class="my-10 py-5">
  <div class="text-center text-black">
    <h1 class="font-heading font-bold text-2xl md:text-3xl lg:text-4xl">
      Timeline
    </h1>
    <p class="my-4">Life events, opportunities, failures</p>
  </div>
  <div class="flex items-center justify-center mt-12">
    <div class="max-w-xl">
      {{ range .Site.Data.timeline }}
      <div class="flex gap-x-3">
        <div
          class="relative last:after:hidden after:absolute after:top-7 after:bottom-0 after:start-3.5 after:w-px after:-translate-x-[0.5px] after:bg-gray-200">
          <div class="relative z-10 size-7 flex justify-center items-center">
            <div class="size-2 rounded-full bg-gray-400"></div>
          </div>
        </div>
        <!-- Right Content -->
        <div class="grow pt-0.5 pb-8">
          <h3 class="flex gap-x-1.5 font-semibold text-gray-800">
            {{ .title }}
          </h3>
          <p class="mt-1 text-sm text-gray-600">
            {{ .event | safeHTML }}
          </p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>

</section>
{{ end }}