<div class="text-neutral-900 bg-gray-100 rounded-md border-2 hover:border-2 hover:border-black transition delay-75 duration-75 ease-in-out hover:scale-105 hover:shadow-xl focus:outline-none focus:ring">
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-f8-3+1f-3d+2z"
     data-ad-client="ca-pub-6691816550079346"
     data-ad-slot="2995761677"></ins>
</div>
<script ype="text/partytown">
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>