@font-face {
  font-family: "GT Walsheim";
  src: local("GT Walsheim"), local("GT Walsheim"),
    url("/fonts/GTWalsheimPro-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: local("GT Walsheim"), local("GT Walsheim"),
    url("/fonts/GTWalsheimPro-Medium.woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "GT Walsheim";
  src: local("GT Walsheim"), local("GT Walsheim"),
    url("/fonts/GTWalsheimPro-Bold.woff2");
  font-weight: 600;
  font-display: swap;
}

a {
  text-decoration: none !important;
}